@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: rgb(235, 74, 70);
}
h1 {
  font-size: 3em;
  font-family: 'Pokemon Solid', sans-serif;
  color: rgb(241, 238, 67);
}
h2 {
  font-size: 1.5em;
}
.birdex {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: black solid 3px;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 5px;
}
#catchList {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  overflow: scroll;
  margin-left: 5px;
}
.mainCombo {
  display: flex;
}
#mainbird {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.individual {
  border: black solid 2px;
  background-color: white;
  font-size: .65em;
  margin: 1em;
  align-items: center;
}
.listOfSpots {
  font-size: .65em;;
}
button {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(117, 251, 253);
  font-size: .5em;
}
input {
  font-family: 'Press Start 2P', cursive;
  border: black solid 2px;
  font-size: 1em;
  min-width: 0;
}
#addButton {
  font-size: 1em;
  border: black solid 2px;
}

#addthebirddiv {
  display: flex;
  justify-content: center;
}

.dotPart {
  display: flex;
  justify-content: flex-start;
}

#dot {
  height: 40px;
  width: 40px;
  border: white solid 2.5px;
  outline: black solid 1px;
  background-color:rgb(117, 251, 253);
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
}

#redDot {
  height: 20px;
  width: 20px;
  border: black solid 1px;
  background-color:red;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
}
#yellowDot {
  height: 20px;
  width: 20px;
  border: black solid 1px;
  background-color: yellow;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
}
#greenDot {
  height: 20px;
  width: 20px;
  border: black solid 1px;
  background-color:green;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
}
.userDiv {
  border: black solid 2px;
  background-color: white;
  font-size: .65em;
  margin: .5em;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  max-width: 12em;
}
img {
  width: 40px;
  height: auto;
  margin: 5px;
}