@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: rgb(235, 74, 70);
}
h1 {
  font-size: 40px;
  font-family: 'Pokemon Solid', sans-serif;
  color: white;
}
.birdex {
  border: black solid 1px;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
}
#mainbird {
  display: flex;
  justify-content: space-around;
}
.individual {
  border: black solid 1px;
  background-color: white;
  font-size: .65em;
}
button {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(117, 251, 253);
  font-size: .5em;
}
input {
  font-family: 'Press Start 2P', cursive;
  border: black solid 2px;
}
#addButton {
  font-size: .75em;
  border: black solid 2px;
}

#addthebirddiv {
  display: flex;
  justify-content: center;
}